extends _layout/_basic

block prepend global
  -
    var pagetitle = "lp-template";

block header

block main
  nav#inPageNav.show-for-medium
    ul.menu.vertical(data-magellan)
      li.menu-item: a(href="#hero") page top
      li.menu-item: a(href="#t3cols") 3 columns
      li.menu-item: a(href="#t2colsfw") 2 columns full width
  #hero.lptp-contentBlock(data-magellan-target="hero")
    h1.pageTitle
      img.ofi(src="http://placehold.jp/1600x800.png" alt="pagetitle" data-interchange="[http://placehold.jp/1280x1280.png?text=smallHero, small],[http://placehold.jp/1600x800.png?text=mediumUpHero, medium]")
  .lptp-contentBlock
    h2.title.text-center#t3cols(data-magellan-target="t3cols") contents 3 blocks
    .grid-container
      .grid-x
        - 
          var i = 0;
        while i < 3
          .cell.medium-4
            h2.title
              img.titleIcon(src="http://placehold.jp/480x480.png?text=icon")
              br
              |title text goes here
            .desc
              p description goes here... description goes here... description goes here... description goes here... 
          - i++
  h2.title.text-center(data-magellan-target="t2colsfw")#t2colsfw contents 2 cols with full width
  .lptp-contentBlock.lptp-contentBlock-2colfull.mb0
    .grid-x
      .cell.large-6.img
        p.img
          img.ofi(src="http://placehold.jp/1280x640.png?text=")
      .cell.large-6.text
        h3.title
          | title text goes here
        .desc
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
  .lptp-contentBlock.lptp-contentBlock-2colfull
    .grid-x
      .cell.large-6.img.small-order-1.large-order-2
        p.img
          img.ofi(src="http://placehold.jp/1280x640.png?text=")
      .cell.large-6.text.small-order-2.large-order-1
        h2.title
          | title text goes here
        .desc
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
          p description goes here... description goes here... description goes here... description goes here... 
    
block footer
  footer#footer
    #cta.grid-container
      .grid-x
        .cell.large-6
          .grid-x
            .cell.small-3
              p.img
                img(src="http://placehold.jp/200x65.png?text=logo")
            .cell.small-9
              p subtext here subtext here subtext here
        .cell.large-6
          .expanded.button-group
            a.button(href="") Entry
            a.button(href="") Contact
            
